@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 18px 10px rgba(0, 0, 0, 0.24);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: "Raleway", monospace;
}

.header.hidden {
    transform: translateY(-100%);
}

.mobile_header {
    display: none;
    color: white;
    margin-top: 5px;
    font-size: 50px;
}

.mobile_nav_section {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 18px 10px rgba(252, 98, 120, 0.24);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mobile_header_title {
    display: none;
    position: absolute;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 5vw;
    font-family: "Caveat Brush", "Brush Script MT", cursive;
    margin-top: -5px;
}

.mobile_nav {
    transform: translateY(-150%);
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    background: rgba(252, 98, 120, 0.99);
    box-shadow: 0 10px 18px 10px rgba(0, 0, 0, 0.24);
    z-index: -1;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.mobile_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mobile_nav ul li {
    margin-bottom: 10px;
}

.mobile_nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.mobile_nav ul li a:active {
    color: #0070f3;
}

.show {
    transform: translateY(0%);
}

.image {
    display: inline-block;
    padding: 10px;
}

.list {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list ul li {
    margin-right: 20px;
}

.list ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.list ul li a:hover,
.list ul li a:active {
    color: #0070f3;
}

@media (max-width: 768px) {
    .list {
        display: none;
    }

    .mobile_header {
        display: inline-block;
        padding: 10px;
    }

    .mobile_header_title {
        display: block;
    }
}
