@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.main {
    background: url("/bg.webp") no-repeat center center;
}

.main p,
.main a,
.main ul {
    font-family: "Comfortaa", monospace;
}

.main ul li {
    font-family: "Play", monospace;
}

.main h2,
.main h3 {
    font-family: "Press Start 2P", monospace;
}

.first_section {
    color: white;
    display: flex;
    font-size: 2vh;
    font-family: monospace;
    padding-top: 12vh;
    padding-left: 2vh;
    padding-right: 2vh;
    flex-direction: column;
}

.first_section ul li {
    margin-left: 2vw;
}

.first_section article {
    border: 10px solid #471467;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    padding: 30px;
    background: #4e1671;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.first_section article:hover,
.first_section article:active {
    transform: scale(1.01) translateY(-10px);
}

#contacts {
    padding: 20px;
    background: #909090;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.contact_container {
    text-align: center;
}

.contact_container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact_container p {
    font-size: 16px;
    color: #b7b5b5;
    margin-bottom: 10px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_item {
    transition: all 0.5s ease-in-out;
    background: #6a1d9a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact_item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.contact_item a {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

.contact_item a:hover,
.contact_item a:active {
    text-decoration: underline;
}

.center_h2 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.two_section {
    color: white;
    display: flex;
    font-size: 2vh;
    font-family: monospace;
    padding-top: 12vh;
    padding-left: 2vh;
    padding-right: 2vh;
    flex-direction: column;
}

.two_section article {
    border: 10px solid #142067;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    padding: 30px;
    background: #162d71;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

.two_section article a {
    color: deepskyblue;
}

.two_section article a:hover,
.two_section article a:active {
    text-decoration: underline;
}

.two_section article h2 {
    font-size: 40px;
}

.habr_account {
    width: 100vh;
    height: 50vh;
    margin: -100px;
}

.fl_account {
    margin: -50px;
}

.three_section {

}

@media (hover: hover) {
    .contact_item:hover {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width: 768px) {
    .contact_item:hover,
    .contact_item:active {
        margin-left: 0;
        margin-right: 0;
    }

    .github_account {
        display: flex;
        justify-content: center;
        width: 320px;
        height: 180px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .youdo_account {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 300px;
    }

    .habr_account {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 300px;
        margin: -50px 0;
    }

    .fl_account {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
        margin: 50px 50px 50px 75px;
    }
}
