.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.carousel_box {
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.carousel_item {
    position: absolute;
    width: 200px;
    height: 330px;
    text-align: center;
    background: radial-gradient(circle, #380f52, #210930);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    transition: all 0.5s ease-in-out;
    left: calc(50% - 110px);
    top: 0;
    font-family: P, monospace;
}

.carousel_item h3 {
    font-family: monospace;
    margin-top: 0;
    margin-bottom: 10px;
}

.carousel_item a {
    color: deepskyblue;
}

.carousel_item a:hover,
.carousel_item a:active {
    text-decoration: underline;
}

.carousel_item_img {
    margin-top: 10px;
    display: flex;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}

.carousel_next,
.carousel_back {
    position: absolute;
    top: 40%;
    color: white;
    padding: 0;
    background: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 3;
}

.carousel_next {
    left: unset;
    right: 50px;
}

@media (hover: hover) {
    .carousel_next:hover,
    .carousel_back:hover {
        transform: scale(1.5);
    }
}

@media (max-width: 768px) {
    .carousel_next,
    .carousel_back {
        display: none;
    }

    .carousel_box {
        overflow: visible;
    }

    .carousel_item {
        height: 320px;
    }

    .carousel_next {
        margin-right: -11vw;
    }

    .carousel_back {
        margin-left: -11vw;
    }
}
